.hero {
  background: url('../../../assets/Blog/device-lab-testing.jpg');
  height: 780px;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  z-index: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.58);
}

.hero__gradient {
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.59) 45%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.59) 45%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.59) 45%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}
