.template__middle {
    padding: 100px 0px 410px 0px;
    margin: 0px 112px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.42);
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
