.careers {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.careers__about {
  margin: 170px 275px;
}
